* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    margin-bottom: solid;
    align-items: center;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    margin-bottom: 60px;
}

.navigation {
    width: inherit;
    float: right;
    margin-top: 55px;
}

/* .navigation nav {
    float: right;
} */

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 10px;
    font-size: 28px;
}

#profile {
    border-radius: 360px;
    border: #b9c6ae;
    z-index: 1;
}

/* Places sections with headers on left and content on right */
.about,
.work,
.contact {
    display: inline-flex;
}

.about h2,
.work h2,
.contact h2 {
    min-width: 250px;
    text-align: right;
    padding-right: 10px;
}

/* Adds border to left of content. */
.about div,
.contact div {
    display: block;
    width: initial;
    padding-left: 10px;
    border-left: solid;
    text-align: left;
    font-size: 14px;
}

.work img {
    border: solid;
}

/* Wraps application images when change screen width. */
.application {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-left: solid;
    padding-left: 10px;
}

.refractor,
.app2,
.app3,
.app4,
.app5 {
    position: relative;
    font-family: Arial;
  }
  
#refractor,
#app2,
#app3,
#app4,
#app5 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }